
*.pyc

MultiArmedBandits/experiments/Try/Try\.png

*.png

MultiArmedBandits/experiments/

MDP/experiments/Third_try/

MDP/experiments/Third_try_b/

MDP/experiments/Third_try_a/

*.csv

*.txt

*.odt#

MDP/old_experiments/
